In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
pyspark.__version__

'3.5.1'

## import read create

In [ ]:
spark = SparkSession.builder.appName('session').getOrCreate()

In [ ]:
spark

In [ ]:
# import data
data = spark.read.csv('heart.csv',header=True,inferSchema=True)

In [ ]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
data.take(2)[0]

Row(Age=40, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=172, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0)

In [ ]:
data.limit(100)

DataFrame[Age: int, Sex: string, ChestPainType: string, RestingBP: int, Cholesterol: int, FastingBS: int, RestingECG: string, MaxHR: int, ExerciseAngina: string, Oldpeak: double, ST_Slope: string, HeartDisease: int]

In [ ]:
data.head(1)

[Row(Age=40, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=172, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0)]

In [ ]:
# data.collect

In [ ]:
data.columns

['Age',
 'Sex',
 'ChestPainType',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'RestingECG',
 'MaxHR',
 'ExerciseAngina',
 'Oldpeak',
 'ST_Slope',
 'HeartDisease']

In [ ]:
data.printSchema() ## pandas.info()

root
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: integer (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- FastingBS: integer (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: integer (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: integer (nullable = true)

In [ ]:
def shape(data): ## helper function
   print((data.count() , len(data.columns)))

In [ ]:
data.describe().show()

+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+
|summary|               Age| Sex|ChestPainType|         RestingBP|       Cholesterol|          FastingBS|RestingECG|             MaxHR|ExerciseAngina|           Oldpeak|ST_Slope|       HeartDisease|
+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+
|  count|               918| 918|          918|               918|               918|                918|       918|               918|           918|               918|     918|                918|
|   mean|53.510893246187365|NULL|         NULL|132.39651416122004| 198.7995642701525|0.23311546840958605|      NULL|136.80936819172112|          NULL|0.8873638344226581|    NULL| 0.5533769063180828|
| stddev|  9.43261650673202|NULL|         NULL|18.514154119907808|109.38414455220345|0.42304562473930296|      NULL| 25.46033413825029|          NULL|1.0665701510493264|    NULL|0.49741373828459706|
|    min|                28|   F|          ASY|                 0|                 0|                  0|       LVH|                60|             N|              -2.6|    Down|                  0|
|    max|                77|   M|           TA|               200|               603|                  1|        ST|               202|             Y|               6.2|      Up|                  1|
+-------+------------------+----+-------------+------------------+------------------+-------------------+----------+------------------+--------------+------------------+--------+-------------------+

## Columns

In [ ]:
## create new column
data= data.withColumn('New Age',data['Age']+2)

In [ ]:
data.select(['Age' ,'ST_Slope']).show(5)

+---+--------+
|Age|ST_Slope|
+---+--------+
| 40|      Up|
| 49|    Flat|
| 37|      Up|
| 48|    Flat|
| 54|      Up|
+---+--------+
only showing top 5 rows

In [ ]:
data.show(5)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|New Age|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|     42|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|     51|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|     39|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|     50|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|     56|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+-------+
only showing top 5 rows

In [ ]:
data = data.drop('New Age')

In [ ]:
data.show(5)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 5 rows

In [ ]:
data = data.withColumnRenamed(existing='Age',new='age')
# Rename multiple Columns
names = [('Age','age'),('Sex','sex')]
for old , new in names:
  data = data.withColumnRenamed(old ,new)

In [ ]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
# query in pyspark
data[data['age']>50].show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 53|  M|          ASY|      124|        260|        0|        ST|  112|             Y|    3.0|    Flat|           0|
| 52|  M|          ATA|      120|        284|        0|    Normal|  118|             N|    0.0|      Up|           0|
| 53|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
| 51|  M|          ATA|      125|        188|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 53|  M|          NAP|      145|        518|        0|    Normal|  130|             N|    0.0|    Flat|           1|
| 56|  M|          NAP|      130|        167|        0|    Normal|  114|             N|    0.0|      Up|           0|
| 54|  M|          ASY|      125|        224|        0|    Normal|  122|             N|    2.0|    Flat|           1|
| 65|  M|          ASY|      140|        306|        1|    Normal|   87|             Y|    1.5|    Flat|           1|
| 54|  F|          ATA|      150|        230|        0|    Normal|  130|             N|    0.0|      Up|           0|
| 54|  F|          NAP|      130|        294|        0|        ST|  100|             Y|    0.0|    Flat|           1|
| 52|  M|          NAP|      140|        259|        0|        ST|  170|             N|    0.0|      Up|           0|
| 59|  M|          NAP|      130|        318|        0|    Normal|  120|             Y|    1.0|    Flat|           0|
| 52|  F|          ASY|      130|        180|        0|    Normal|  140|             Y|    1.5|    Flat|           0|
| 51|  F|          ATA|      160|        194|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 58|  M|          NAP|      130|        213|        0|        ST|  140|             N|    0.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
data.filter('Age > 50').show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 53|  M|          ASY|      124|        260|        0|        ST|  112|             Y|    3.0|    Flat|           0|
| 52|  M|          ATA|      120|        284|        0|    Normal|  118|             N|    0.0|      Up|           0|
| 53|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
| 51|  M|          ATA|      125|        188|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 53|  M|          NAP|      145|        518|        0|    Normal|  130|             N|    0.0|    Flat|           1|
| 56|  M|          NAP|      130|        167|        0|    Normal|  114|             N|    0.0|      Up|           0|
| 54|  M|          ASY|      125|        224|        0|    Normal|  122|             N|    2.0|    Flat|           1|
| 65|  M|          ASY|      140|        306|        1|    Normal|   87|             Y|    1.5|    Flat|           1|
| 54|  F|          ATA|      150|        230|        0|    Normal|  130|             N|    0.0|      Up|           0|
| 54|  F|          NAP|      130|        294|        0|        ST|  100|             Y|    0.0|    Flat|           1|
| 52|  M|          NAP|      140|        259|        0|        ST|  170|             N|    0.0|      Up|           0|
| 59|  M|          NAP|      130|        318|        0|    Normal|  120|             Y|    1.0|    Flat|           0|
| 52|  F|          ASY|      130|        180|        0|    Normal|  140|             Y|    1.5|    Flat|           0|
| 51|  F|          ATA|      160|        194|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 58|  M|          NAP|      130|        213|        0|        ST|  140|             N|    0.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
data.where((data['Age'] > 50) & (data['Sex'] == 'F' )).show()

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|54.0|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
|53.0|  F|          ATA|      113|        468|        0|    Normal|  127|             N|    0.0|      Up|           0|
|54.0|  F|          ATA|      150|        230|        0|    Normal|  130|             N|    0.0|      Up|           0|
|54.0|  F|          NAP|      130|        294|        0|        ST|  100|             Y|    0.0|    Flat|           1|
|52.0|  F|          ASY|      130|        180|        0|    Normal|  140|             Y|    1.5|    Flat|           0|
|51.0|  F|          ATA|      160|        194|        0|    Normal|  170|             N|    0.0|      Up|           0|
|53.0|  F|          ATA|      140|        216|        0|    Normal|  142|             Y|    2.0|    Flat|           0|
|52.0|  F|          ATA|      120|        210|        0|    Normal|  148|             N|    0.0|      Up|           0|
|59.0|  F|          ATA|      130|        188|        0|    Normal|  124|             N|    1.0|    Flat|           0|
|59.0|  F|          ASY|      130|        338|        1|        ST|  130|             Y|    1.5|    Flat|           1|
|52.0|  F|          NAP|      125|        272|        0|    Normal|  139|             N|    0.0|      Up|           0|
|58.0|  F|          ATA|      180|        393|        0|    Normal|  110|             Y|    1.0|    Flat|           1|
|54.0|  F|          ATA|      120|        230|        1|    Normal|  140|             N|    0.0|      Up|           0|
|61.0|  F|          ASY|      130|        294|        0|        ST|  120|             Y|    1.0|    Flat|           0|
|56.0|  F|          ATA|      120|        279|        0|    Normal|  150|             N|    1.0|    Flat|           1|
|52.0|  F|          ATA|      140|        225|        0|    Normal|  140|             N|    0.0|      Up|           0|
|54.0|  F|          ATA|      160|        312|        0|    Normal|  130|             N|    0.0|      Up|           0|
|62.0|  F|           TA|      160|        193|        0|    Normal|  116|             N|    0.0|      Up|           0|
|57.0|  F|           TA|      130|        308|        0|    Normal|   98|             N|    1.0|    Flat|           0|
|56.0|  F|          NAP|      130|        219|        0|        ST|  164|             N|    0.0|      Up|           0|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
shape(data.where((data['Age'] > 50) | (data['Sex'] == 'F' )))

(680, 12)

## DataFrame

In [ ]:
data.write.format('csv').mode('overwrite').save('heart data') # save & Export  data

In [ ]:
from pyspark.sql.types import FloatType
data = data.withColumn('Age',data['Age'].cast(FloatType())) # change data types
data.printSchema()

root
 |-- Age: float (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: integer (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- FastingBS: integer (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: integer (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: integer (nullable = true)

In [ ]:
# Pyspark df to Pandas df
pd_df = data.toPandas()

In [ ]:
pd_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40.0,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49.0,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37.0,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48.0,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54.0,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45.0,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68.0,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57.0,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57.0,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38.0,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [ ]:
df_sp = spark.createDataFrame(pd_df) # Pandas df to Spark df

In [ ]:
type(df_sp)

pyspark.sql.dataframe.DataFrame

## Convert Features

In [ ]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import StringIndexer
strindexer = StringIndexer(inputCols=['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']
                           ,outputCols=['gender','ChestPain','Resting','Exercise','Slope'])

In [ ]:
index_data = strindexer.fit(data)

In [ ]:
new_data = index_data.transform(data)

In [ ]:
new_data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|   1.0|      1.0|    0.0|     0.0|  0.0|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|   0.0|      2.0|    2.0|     0.0|  1.0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|   1.0|      0.0|    0.0|     1.0|  0.0|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      1.0|    0.0|     0.0|  1.0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|   0.0|      2.0|    2.0|     1.0|  0.0|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|   1.0|      1.0|    2.0|     0.0|  1.0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|   1.0|      2.0|    0.0|     0.0|  0.0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     0.0|  0.0|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
only showing top 20 rows

## Missin Value

In [ ]:
df = spark.read.csv('/content/melb_data.csv',header=True,inferSchema=True)

In [ ]:
df.show(3)

+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|_c0|    Suburb|        Address|Rooms|Type|    Price|Method|SellerG|     Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|  1|Abbotsford|   85 Turner St|    2|   h|1480000.0|     S| Biggin|3/12/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   202.0|        NULL|     NULL|      Yarra| -37.7996|  144.9984|Northern Metropol...|       4019.0|
|  2|Abbotsford|25 Bloomburg St|    2|   h|1035000.0|     S| Biggin|4/02/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   156.0|        79.0|   1900.0|      Yarra| -37.8079|  144.9934|Northern Metropol...|       4019.0|
|  4|Abbotsford|   5 Charles St|    3|   h|1465000.0|    SP| Biggin|4/03/2017|     2.5|  3067.0|     3.0|     2.0|0.0|   134.0|       150.0|   1900.0|      Yarra| -37.8093|  144.9944|Northern Metropol...|       4019.0|
+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
only showing top 3 rows

In [ ]:
df.na.drop(how='all').show(2)

+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|_c0|    Suburb|        Address|Rooms|Type|    Price|Method|SellerG|     Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|  1|Abbotsford|   85 Turner St|    2|   h|1480000.0|     S| Biggin|3/12/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   202.0|        NULL|     NULL|      Yarra| -37.7996|  144.9984|Northern Metropol...|       4019.0|
|  2|Abbotsford|25 Bloomburg St|    2|   h|1035000.0|     S| Biggin|4/02/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   156.0|        79.0|   1900.0|      Yarra| -37.8079|  144.9934|Northern Metropol...|       4019.0|
+---+----------+---------------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
only showing top 2 rows

In [ ]:
shape(df)

(18396, 22)

In [ ]:
df.na.fill(value='NaN')

DataFrame[_c0: int, Suburb: string, Address: string, Rooms: int, Type: string, Price: double, Method: string, SellerG: string, Date: string, Distance: double, Postcode: double, Bedroom2: double, Bathroom: double, Car: double, Landsize: double, BuildingArea: double, YearBuilt: double, CouncilArea: string, Lattitude: double, Longtitude: double, Regionname: string, Propertycount: double]

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
impute = Imputer(inputCols=['Rooms','Distance'],
        outputCols=['Rooms','Distance']).setStrategy('mode')
impute.fit(df).transform(df)

DataFrame[_c0: int, Suburb: string, Address: string, Rooms: int, Type: string, Price: double, Method: string, SellerG: string, Date: string, Distance: double, Postcode: double, Bedroom2: double, Bathroom: double, Car: double, Landsize: double, BuildingArea: double, YearBuilt: double, CouncilArea: string, Lattitude: double, Longtitude: double, Regionname: string, Propertycount: double]

## Join datssets

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id

In [ ]:
new_data = new_data.withColumn('index', monotonically_increasing_id())
new_data.show(5)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+-----+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope|index|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+-----+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|    0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|   1.0|      1.0|    0.0|     0.0|  0.0|    1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|   0.0|      2.0|    2.0|     0.0|  1.0|    2|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|   1.0|      0.0|    0.0|     1.0|  0.0|    3|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|    4|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+-----+
only showing top 5 rows

In [ ]:
new_data = new_data.select('index', *new_data.columns[:-1])
new_data.show(5)

+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
|index|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
|    0| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|
|    1| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|   1.0|      1.0|    0.0|     0.0|  0.0|
|    2| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|   0.0|      2.0|    2.0|     0.0|  1.0|
|    3| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|   1.0|      0.0|    0.0|     1.0|  0.0|
|    4| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
only showing top 5 rows

In [ ]:
patients_df = spark.read.csv('/content/patients.csv',header=True,inferSchema=True)
patients_df.show()

+---+---------+---------+
| id|FirstName| LastName|
+---+---------+---------+
|  4|     Paul|   Murray|
|  5|    Lydia|   Walker|
|  6|    Garry|   Harper|
|  7|   Alfred|    Dixon|
|  8|   Harold|Henderson|
|  9|     Ryan| Sullivan|
| 10|    Garry|     Hall|
| 11|   Steven| Phillips|
| 12|     Lucy|    Baker|
| 13|     Reid|    Davis|
| 14|      Ned| Morrison|
| 15|    Honey|  Roberts|
| 16|     Tara|  Stevens|
| 17|    Cadie|  Johnson|
| 18|  Chelsea|    Casey|
| 19|    Derek| Campbell|
| 20|   Rafael|    Baker|
| 21|    Edith|     Hall|
| 22|  Chelsea|    Adams|
| 23|    Derek|     Hunt|
+---+---------+---------+
only showing top 20 rows

### inner join

In [ ]:
inner_df = new_data.join(patients_df ,new_data.index == patients_df.id ,how='inner')

In [ ]:
inner_df.show()

+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
|index|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope| id|FirstName| LastName|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
|    4| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|  4|     Paul|   Murray|
|    5| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|  5|    Lydia|   Walker|
|    6| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|  6|    Garry|   Harper|
|    7| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|  7|   Alfred|    Dixon|
|    8| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|  8|   Harold|Henderson|
|    9| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|  9|     Ryan| Sullivan|
|   10| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      1.0|    0.0|     0.0|  1.0| 10|    Garry|     Hall|
|   11| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|   0.0|      2.0|    2.0|     1.0|  0.0| 11|   Steven| Phillips|
|   12| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0| 12|     Lucy|    Baker|
|   13| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0| 13|     Reid|    Davis|
|   14| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|   1.0|      1.0|    2.0|     0.0|  1.0| 14|      Ned| Morrison|
|   15| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|   1.0|      2.0|    0.0|     0.0|  0.0| 15|    Honey|  Roberts|
|   16| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0| 16|     Tara|  Stevens|
|   17| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0| 17|    Cadie|  Johnson|
|   18| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0| 18|  Chelsea|    Casey|
|   19| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     0.0|  0.0| 19|    Derek| Campbell|
|   20| 43|  F|           TA|      100|        223|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      3.0|    0.0|     0.0|  1.0| 20|   Rafael|    Baker|
|   21| 44|  M|          ATA|      120|        184|        0|    Normal|  142|             N|    1.0|    Flat|           0|   0.0|      2.0|    0.0|     0.0|  0.0| 21|    Edith|     Hall|
|   22| 49|  F|          ATA|      124|        201|        0|    Normal|  164|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0| 22|  Chelsea|    Adams|
|   23| 44|  M|          ATA|      150|        288|        0|    Normal|  150|             Y|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     1.0|  0.0| 23|    Derek|     Hunt|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
only showing top 20 rows

In [ ]:
inner_df = inner_df.select('id','FirstName' ,'LastName', *inner_df.columns[:-3])
inner_df.show(5)

+---+---------+---------+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
| id|FirstName| LastName|index|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope|
+---+---------+---------+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
|  4|     Paul|   Murray|    4| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|
|  5|    Lydia|   Walker|    5| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|
|  6|    Garry|   Harper|    6| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|
|  7|   Alfred|    Dixon|    7| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|
|  8|   Harold|Henderson|    8| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|
+---+---------+---------+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+
only showing top 5 rows

### Outer join

In [ ]:
right_df = new_data.join(patients_df ,new_data.index == patients_df.id ,how='right')
right_df.show()

+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
|index|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope| id|FirstName| LastName|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
|    4| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|  4|     Paul|   Murray|
|    5| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|  5|    Lydia|   Walker|
|    6| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|  6|    Garry|   Harper|
|    7| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|  7|   Alfred|    Dixon|
|    8| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|  8|   Harold|Henderson|
|    9| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|  9|     Ryan| Sullivan|
|   10| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      1.0|    0.0|     0.0|  1.0| 10|    Garry|     Hall|
|   11| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|   0.0|      2.0|    2.0|     1.0|  0.0| 11|   Steven| Phillips|
|   12| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0| 12|     Lucy|    Baker|
|   13| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0| 13|     Reid|    Davis|
|   14| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|   1.0|      1.0|    2.0|     0.0|  1.0| 14|      Ned| Morrison|
|   15| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|   1.0|      2.0|    0.0|     0.0|  0.0| 15|    Honey|  Roberts|
|   16| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0| 16|     Tara|  Stevens|
|   17| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0| 17|    Cadie|  Johnson|
|   18| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0| 18|  Chelsea|    Casey|
|   19| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     0.0|  0.0| 19|    Derek| Campbell|
|   20| 43|  F|           TA|      100|        223|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      3.0|    0.0|     0.0|  1.0| 20|   Rafael|    Baker|
|   21| 44|  M|          ATA|      120|        184|        0|    Normal|  142|             N|    1.0|    Flat|           0|   0.0|      2.0|    0.0|     0.0|  0.0| 21|    Edith|     Hall|
|   22| 49|  F|          ATA|      124|        201|        0|    Normal|  164|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0| 22|  Chelsea|    Adams|
|   23| 44|  M|          ATA|      150|        288|        0|    Normal|  150|             Y|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     1.0|  0.0| 23|    Derek|     Hunt|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+---+---------+---------+
only showing top 20 rows

In [ ]:
left_df = new_data.join(patients_df ,new_data.index == patients_df.id ,how='left')
left_df.show()

+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+----+---------+---------+
|index|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|gender|ChestPain|Resting|Exercise|Slope|  id|FirstName| LastName|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+----+---------+---------+
|    0| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|NULL|     NULL|     NULL|
|    1| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|   1.0|      1.0|    0.0|     0.0|  0.0|NULL|     NULL|     NULL|
|    2| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|   0.0|      2.0|    2.0|     0.0|  1.0|NULL|     NULL|     NULL|
|    3| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|   1.0|      0.0|    0.0|     1.0|  0.0|NULL|     NULL|     NULL|
|    4| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|   4|     Paul|   Murray|
|    5| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|   0.0|      1.0|    0.0|     0.0|  1.0|   5|    Lydia|   Walker|
|    6| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|   6|    Garry|   Harper|
|    7| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|   7|   Alfred|    Dixon|
|    8| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|   8|   Harold|Henderson|
|    9| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|   9|     Ryan| Sullivan|
|   10| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|   1.0|      1.0|    0.0|     0.0|  1.0|  10|    Garry|     Hall|
|   11| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|   0.0|      2.0|    2.0|     1.0|  0.0|  11|   Steven| Phillips|
|   12| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|   0.0|      2.0|    0.0|     0.0|  1.0|  12|     Lucy|    Baker|
|   13| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     1.0|  0.0|  13|     Reid|    Davis|
|   14| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|   1.0|      1.0|    2.0|     0.0|  1.0|  14|      Ned| Morrison|
|   15| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|   1.0|      2.0|    0.0|     0.0|  0.0|  15|    Honey|  Roberts|
|   16| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0|  16|     Tara|  Stevens|
|   17| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|   1.0|      2.0|    0.0|     0.0|  1.0|  17|    Cadie|  Johnson|
|   18| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|   0.0|      0.0|    0.0|     0.0|  0.0|  18|  Chelsea|    Casey|
|   19| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|   0.0|      2.0|    0.0|     0.0|  0.0|  19|    Derek| Campbell|
+-----+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+------+---------+-------+--------+-----+----+---------+---------+
only showing top 20 rows

## Group By ,  Order By , Pivot

In [ ]:
data.groupBy(['Age','Sex']).count().orderBy('Age').show()

+---+---+-----+
|Age|Sex|count|
+---+---+-----+
| 28|  M|    1|
| 29|  M|    3|
| 30|  F|    1|
| 31|  F|    1|
| 31|  M|    1|
| 32|  M|    4|
| 32|  F|    1|
| 33|  M|    1|
| 33|  F|    1|
| 34|  M|    5|
| 34|  F|    2|
| 35|  M|    8|
| 35|  F|    3|
| 36|  M|    6|
| 37|  F|    4|
| 37|  M|    7|
| 38|  F|    3|
| 38|  M|   13|
| 39|  F|    3|
| 39|  M|   12|
+---+---+-----+
only showing top 20 rows

In [ ]:
data.groupBy('Age').count().show()

+----+-----+
| Age|count|
+----+-----+
|64.0|   22|
|47.0|   19|
|58.0|   42|
|39.0|   15|
|30.0|    1|
|41.0|   24|
|29.0|    3|
|67.0|   15|
|49.0|   21|
|56.0|   38|
|54.0|   51|
|55.0|   41|
|38.0|   16|
|51.0|   35|
|48.0|   31|
|66.0|   13|
|72.0|    4|
|70.0|    7|
|65.0|   21|
|43.0|   24|
+----+-----+
only showing top 20 rows

In [ ]:
data.orderBy(["Age"], ascending=[0]).show(5)

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|77.0|  M|          ASY|      124|        171|        0|        ST|  110|             Y|    2.0|      Up|           1|
|77.0|  M|          ASY|      125|        304|        0|       LVH|  162|             Y|    0.0|      Up|           1|
|76.0|  M|          NAP|      104|        113|        0|       LVH|  120|             N|    3.5|    Down|           1|
|76.0|  F|          NAP|      140|        197|        0|        ST|  116|             N|    1.1|    Flat|           0|
|75.0|  M|          ASY|      170|        203|        1|        ST|  108|             N|    0.0|    Flat|           1|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 5 rows

In [ ]:
data.groupBy('Age').pivot('Sex',('M','F')).count().show()

+---+---+----+
|Age|  M|   F|
+---+---+----+
| 31|  1|   1|
| 65| 17|   4|
| 53| 27|   6|
| 34|  5|   2|
| 28|  1|NULL|
| 76|  1|   1|
| 44| 16|   3|
| 47| 15|   4|
| 52| 31|   5|
| 40| 12|   1|
| 57| 32|   6|
| 54| 36|  15|
| 48| 22|   9|
| 64| 16|   6|
| 41| 17|   7|
| 43| 15|   9|
| 37|  7|   4|
| 61| 27|   4|
| 72|  4|NULL|
| 35|  8|   3|
+---+---+----+
only showing top 20 rows

## ML in Pyspark

### Regression

In [ ]:
data.show(5)

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|40.0|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
|49.0|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
|37.0|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
|48.0|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
|54.0|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 5 rows

In [ ]:
X = ['Age','RestingBP','Cholesterol','FastingBS']
y = ['MaxHR']
cols = data['Age','RestingBP','Cholesterol','FastingBS','MaxHR']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
cols.show()

+----+---------+-----------+---------+-----+
| Age|RestingBP|Cholesterol|FastingBS|MaxHR|
+----+---------+-----------+---------+-----+
|40.0|      140|        289|        0|  172|
|49.0|      160|        180|        0|  156|
|37.0|      130|        283|        0|   98|
|48.0|      138|        214|        0|  108|
|54.0|      150|        195|        0|  122|
|39.0|      120|        339|        0|  170|
|45.0|      130|        237|        0|  170|
|54.0|      110|        208|        0|  142|
|37.0|      140|        207|        0|  130|
|48.0|      120|        284|        0|  120|
|37.0|      130|        211|        0|  142|
|58.0|      136|        164|        0|   99|
|39.0|      120|        204|        0|  145|
|49.0|      140|        234|        0|  140|
|42.0|      115|        211|        0|  137|
|54.0|      120|        273|        0|  150|
|38.0|      110|        196|        0|  166|
|43.0|      120|        201|        0|  165|
|60.0|      100|        248|        0|  125|
|36.0|      120|        267|        0|  160|
+----+---------+-----------+---------+-----+
only showing top 20 rows

In [ ]:
vec_ass = VectorAssembler(inputCols=X ,outputCol='vectored_features')
data = vec_ass.transform(data)
new_data = data.select(['Age','RestingBP','Cholesterol','FastingBS','vectored_features','MaxHR'])

In [ ]:
new_data.show()

+----+---------+-----------+---------+--------------------+-----+
| Age|RestingBP|Cholesterol|FastingBS|   vectored_features|MaxHR|
+----+---------+-----------+---------+--------------------+-----+
|40.0|      140|        289|        0|[40.0,140.0,289.0...|  172|
|49.0|      160|        180|        0|[49.0,160.0,180.0...|  156|
|37.0|      130|        283|        0|[37.0,130.0,283.0...|   98|
|48.0|      138|        214|        0|[48.0,138.0,214.0...|  108|
|54.0|      150|        195|        0|[54.0,150.0,195.0...|  122|
|39.0|      120|        339|        0|[39.0,120.0,339.0...|  170|
|45.0|      130|        237|        0|[45.0,130.0,237.0...|  170|
|54.0|      110|        208|        0|[54.0,110.0,208.0...|  142|
|37.0|      140|        207|        0|[37.0,140.0,207.0...|  130|
|48.0|      120|        284|        0|[48.0,120.0,284.0...|  120|
|37.0|      130|        211|        0|[37.0,130.0,211.0...|  142|
|58.0|      136|        164|        0|[58.0,136.0,164.0...|   99|
|39.0|      120|        204|        0|[39.0,120.0,204.0...|  145|
|49.0|      140|        234|        0|[49.0,140.0,234.0...|  140|
|42.0|      115|        211|        0|[42.0,115.0,211.0...|  137|
|54.0|      120|        273|        0|[54.0,120.0,273.0...|  150|
|38.0|      110|        196|        0|[38.0,110.0,196.0...|  166|
|43.0|      120|        201|        0|[43.0,120.0,201.0...|  165|
|60.0|      100|        248|        0|[60.0,100.0,248.0...|  125|
|36.0|      120|        267|        0|[36.0,120.0,267.0...|  160|
+----+---------+-----------+---------+--------------------+-----+
only showing top 20 rows

In [ ]:
train , test = new_data.randomSplit([0.80,0.20])

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
lr_model = LinearRegression(featuresCol='vectored_features',labelCol='MaxHR')

In [ ]:
train_model = lr_model.fit(train)

In [ ]:
train_model.coefficients

DenseVector([-0.9183, -0.0597, 0.0494, -0.5651])

In [ ]:
y_pred = train_model.evaluate(test)

0.20409589621649238

In [ ]:
def scores(pred):
  R2 = pred.r2
  MAE = pred.meanAbsoluteError
  MSE = pred.meanSquaredError
  print(R2,'\n',MAE,'\n',MSE)

In [ ]:
scores(y_pred)

0.20409589621649238
 18.461304153930595
 501.3246195530444

### Clasiification

In [ ]:
X = ['Age','RestingBP','Cholesterol','FastingBS','MaxHR']
y = ['HeartDisease']
cols = data['Age','RestingBP','Cholesterol','FastingBS','MaxHR','HeartDisease']

In [ ]:
vec_ass = VectorAssembler(inputCols=X ,outputCol='vectored_features')
data = vec_ass.transform(data)
new_data = data.select(['vectored_features','HeartDisease'])

In [ ]:
train , test = new_data.randomSplit([0.80,0.20])

In [ ]:
from pyspark.ml.classification import LogisticRegression , RandomForestClassifier

In [ ]:
logistic = LogisticRegression(featuresCol='vectored_features' , labelCol='HeartDisease')

In [ ]:
lrc = logistic.fit(train)

In [ ]:
random_forest = RandomForestClassifier(featuresCol='vectored_features' , labelCol='HeartDisease')

In [ ]:
rfc = random_forest.fit(train)

In [ ]:
lrp = lrc.transform(test)
rfp = rfc.transform(test)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
eval = BinaryClassificationEvaluator(labelCol='HeartDisease')

In [ ]:
rf_eval = eval.evaluate(rfp)
lr_eval = eval.evaluate(lrp)
print(rf_eval,'\n',lr_eval)

0.8060582218725416
 0.7820613690007872

## Pyspark Functions

In [ ]:
from pyspark.sql.functions import lower , upper , substring , min , max  , avg

In [ ]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
data.select(min('Age'),max('Age'),avg('Age')).show()

+--------+--------+------------------+
|min(Age)|max(Age)|          avg(Age)|
+--------+--------+------------------+
|      28|      77|53.510893246187365|
+--------+--------+------------------+

In [ ]:
data.select(lower('RestingECG'),upper('RestingECG'),substring('RestingECG',1,3)).show()

+-----------------+-----------------+---------------------------+
|lower(RestingECG)|upper(RestingECG)|substring(RestingECG, 1, 3)|
+-----------------+-----------------+---------------------------+
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|               st|               ST|                         ST|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|               st|               ST|                         ST|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|               st|               ST|                         ST|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
|           normal|           NORMAL|                        Nor|
+-----------------+-----------------+---------------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import expr ,  date_add, date_sub, datediff, date_format

In [ ]:
# Create a date columns
data = data.withColumn('date', expr('date_add(current_timestamp(), cast(rand()*365 as int))'))
data.show(5)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|      date|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|2025-05-24|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|2024-11-30|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|2024-10-07|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|2024-09-25|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|2025-02-05|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
only showing top 5 rows

In [ ]:
data.select(min('date'), max('date'), datediff(max('date'), min('date')),
          date_sub(min('date'), 10), date_add(max('date'), 10)).show()

+----------+----------+------------------------------+-----------------------+-----------------------+
| min(date)| max(date)|datediff(max(date), min(date))|date_sub(min(date), 10)|date_add(max(date), 10)|
+----------+----------+------------------------------+-----------------------+-----------------------+
|2024-07-09|2025-07-08|                           364|             2024-06-29|             2025-07-18|
+----------+----------+------------------------------+-----------------------+-----------------------+

In [ ]:
data.select(date_format('date', 'dd/MMM/yyyy')).show(5)

+------------------------------+
|date_format(date, dd/MMM/yyyy)|
+------------------------------+
|                   24/May/2025|
|                   30/Nov/2024|
|                   07/Oct/2024|
|                   25/Sep/2024|
|                   05/Feb/2025|
+------------------------------+
only showing top 5 rows